USE [VuDucKhoaa_2210900032]
GO
/****** Object:  Table [dbo].[Vdk_SACH]    Script Date: 11/07/2024 10:37:57 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vdk_SACH](
	[Vdk_MaSach] [char](10) NOT NULL,
	[Vdk_TenSach] [nvarchar](50) NULL,
	[Vdk_SoTrang] [int] NULL,
	[Vdk_NamXB] [int] NULL,
	[Vdk_MaTG] [char](10) NULL,
	[Vdk_TrangThai] [bit] NULL,
 CONSTRAINT [PK_Vdk_SACH] PRIMARY KEY CLUSTERED 
(
	[Vdk_MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vdk_TACGIA]    Script Date: 11/07/2024 10:37:57 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vdk_TACGIA](
	[Vdk_MaTG] [char](10) NOT NULL,
	[Vdk_TenTG] [nvarchar](50) NULL,
 CONSTRAINT [PK_Vdk_TACGIA] PRIMARY KEY CLUSTERED 
(
	[Vdk_MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Vdk_SACH] ([Vdk_MaSach], [Vdk_TenSach], [Vdk_SoTrang], [Vdk_NamXB], [Vdk_MaTG], [Vdk_TrangThai]) VALUES (N'221090032 ', N'vuduckhoa', 10, 2004, N'2210900032', 1)
GO
INSERT [dbo].[Vdk_TACGIA] ([Vdk_MaTG], [Vdk_TenTG]) VALUES (N'2210900032', N'VuDucKhoa')
GO
