
@{
    ViewBag.Title = "thong tin khach hang";
}

<h2>thong tin khach hang</h2>
<div class="alert alert- danger">
    <h3>Ma so:@ViewBag.customer.CustomerId</h3>
    <p>Ho va ten:@ViewBag.customer.FirsName @ViewBag.customer.LastName </p>
    <p>Ma so:@ViewBag.customer.Address</p>
    <p>Ma so:@ViewBag.customer.YearOfBirth</p>
</div>

