@{
    ViewBag.Title = "Vu Duc Khoa";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Bai Thi GK cua Vu Duc Khoa- cam ket khong dao van</h3>

    <address>
       K22CNT3-lap trinh ung dung voi cong nghe Asp.Net MVC5
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:kedeptrai@gmail.com">kedeptrai@gmail.com</a><br />
        <strong>ca nhan:</strong> <a href="mailto:kedeptrai@gmail.com">kedeptrai@gmail.com</a>
    </address>
</main>