
@{
    ViewBag.Title = "vu duc khoa - Index";
}

<h2>vu duc khoa - Index</h2>
<hr />
<h3>hien thi du lieu lay tu controller</h3>
<h4>FullName: @ViewBag.fullname</h4>
<h4>ngay sinh: @ViewData["Birthday"]</h4>
<h4>di dong: @TempData["Phone"]</h4>
